@using Microsoft.AspNetCore.Identity;
@using ProjectIepAuction.Models.Database;
@using System.Security.Claims;


@inject SignInManager<User> signInManager;

@{
    string fullName = "";
    string role = "";
    string tokens = "";
    foreach (Claim claim in User.Claims)
    {
        if(claim.Type.Equals("fullName"))
        {
            fullName = claim.Value;

        }
        else if(claim.Type.Equals(ClaimTypes.Role))
        {
             role = claim.Value;
         
        }
        else if(claim.Type.Equals("tokens")){
            tokens = claim.Value;
        }

        if(role!="" && fullName!="" && tokens!="")
            break;
    
    }
}



<ul class = "navbar-nav">

    @if(signInManager.IsSignedIn(User)){
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-light btn-outline-info" asp-controller="Payment" asp-action="Payment">Payment</a>
        </li><div>&nbsp;</div>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-light btn-outline-info" asp-controller="User" asp-action="Profile">[@role] @fullName [@tokens]</a>
        </li><div>&nbsp;</div>
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="LogOut">
                <input type="submit" class="nav-link text-dark btn btn-light btn-outline-info" value="Log out"/>
            </form>
        </li>
      
    }
    else{
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-light btn-outline-info" asp-controller="User" asp-action="LogIn">Log in</a>
        </li><div>&nbsp;</div>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-light btn-outline-info" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }

</ul>