@model int 

@{
    ViewData["Title"] = "Payment";
}


<div class="row justify-content-center mt-4">
    <div class="col-xl-4">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Token bags</h1>
        <hr>
        <input type="radio" id="Sliver" name="tokenbag" value="4.99">
        <label for="male">Sliver package (5 tokens) 4.99$</label><br /><hr>
        <input type="radio" id="Gold" name="tokenbag" value="9.99">
        <label for="female">Gold package (10 tokens) 9.99$</label><br /><hr>
        <input type="radio" id="Platinum" name="tokenbag" value="17.99">
        <label for="other">Platinum package (20 tokens) 17.99$</label><hr>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-xl-4">
        <script src="https://www.paypal.com/sdk/js?client-id=AdJHP2haWArYEw-Od-vOMVpEqpcnpHFUIyncrMzTAuMtZrhT40p_DwVwg20wV4U8-FwhRPTbGlISWIv7"></script>
        <div id="paypal"></div>
    </div>

</div>

</div>
