@model ProjectIepAuction.Models.View.EditAuctionModel

@{
    Layout = "_Layout";
}

@{
<div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
        <form asp-controller="User" asp-action="CreateAuction" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea class="form-control" asp-for="description" rows="3"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startPrice" class="control-label"></label>
                <input asp-for="startPrice" class="form-control" />
                <span asp-validation-for="startPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openDate" class="control-label"></label>
                    <input asp-for="openDate" type="date" class="form-control datepicker" />
                <span asp-validation-for="openDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closeDate" class="control-label"></label>
                <input asp-for="closeDate" type="date" class="form-control datepicker" />
                <span asp-validation-for="closeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit auction" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

}