@model ProjectIepAuction.Models.View.LogInModel
@{
    ViewData["Title"] = "Log in";
}

<center>
<h1>Log in</h1>
</center>
<div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
        <form asp-controller="User" asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="returnUrl" />
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
