@model ProjectIepAuction.Models.View.NewPassword

@{
    ViewData["Title"] = "Change profile";
}

<div class="container">
  <div class="row">
  <div class="col-2"></div>
  <div class="col-7"><br><br><br>
    <form asp-controller="User" asp-action="NewPassword">
      <table class="table table-hover table table-bordered">
        <tbody>
            <thead>
                <tr class="table-success">
                    <th colspan="2" style="text-align: center;">Change your password</th>
                </tr>
            </thead>
            <tr class="table-info">
                <td>Current password</td>
                <td><input asp-for="oldPassword" class="form-control" />
                <span asp-asp-validation-for="oldPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr class="table-info">
                <td>New password</td>
                <td><input asp-for="newPassword" class="form-control" />
                <span asp-asp-validation-for="oldPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr class="table-info">
                <td>Confirm new password</td>
                <td><input asp-for="confirmPassword" class="form-control" />
                <span asp-asp-validation-for="oldPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr class="table-info">
                <td colspan="2"><input type="submit" value="Update password" class="btn btn-success" /></td>
            </tr>
        </tbody>
    </table>
    </form>
  </div>
  <div class="col-3">
    
  </div>
</div>
</div>