@model ProjectIepAuction.Models.View.IndexModel

@{
  ViewData["Title"] = "Home Page";
}
<div class="card-columns">
@foreach (var auction in Model.auctionList)
{
string base64 = Convert.ToBase64String(auction.image);


  <div class="card">
    <img class="card-img-top" src="data:image/png;base64, @base64" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">@auction.name</h5>
      <p class="card-text">Price: @auction.currentPrice</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success">Bid</button>
      <button type="button" class="btn btn-info">info</button>
    </div>
  </div>

}
</div>

<cs-pager cs-paging-pagenumber = "4" cs-paging-totalitems="4" cs-paging-pagesize="1" cs-pagenumber-param="pagenumber" asp-controller="Home" asp-action="Index">

</cs-pager>